BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
FREQUENCY NET "osc_clk_c_c" 2.080000 MHz ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
//LOCATE COMP "osc_clk" SITE "40" ;
LOCATE COMP "latch" SITE "67" ;
LOCATE COMP "clk" SITE "67" ;
LOCATE COMP "data" SITE "69" ;
LOCATE COMP "heartbeat" SITE "71";
//Anodes
LOCATE COMP "Digit1[0]" SITE "81" ;
LOCATE COMP "Digit1[1]" SITE "83" ;
LOCATE COMP "Digit1[2]" SITE "85" ;
LOCATE COMP "Digit1[3]" SITE "93" ;
LOCATE COMP "Digit1[4]" SITE "95" ;
LOCATE COMP "Digit1[5]" SITE "97" ;
//Red Cathode
LOCATE COMP "Digit1[6]" SITE "11" ;
LOCATE COMP "Digit1[7]" SITE "13" ;
LOCATE COMP "Digit1[8]" SITE "19" ;
LOCATE COMP "Digit1[9]" SITE "20" ;
LOCATE COMP "Digit1[10]" SITE "21" ;
LOCATE COMP "Digit1[11]" SITE "22" ;
LOCATE COMP "Digit1[12]" SITE "23" ;
//Green Cathode
LOCATE COMP "Digit1[13]" SITE "24" ;
LOCATE COMP "Digit1[14]" SITE "25" ;
LOCATE COMP "Digit1[15]" SITE "26" ;
LOCATE COMP "Digit1[16]" SITE "27" ;
LOCATE COMP "Digit1[17]" SITE "28" ;
LOCATE COMP "Digit1[18]" SITE "33" ;
LOCATE COMP "Digit1[19]" SITE "35" ;
IOBUF PORT "latch" PULLMODE=NONE DRIVE=NA DIFFRESISTOR=OFF ;
IOBUF PORT "clk" PULLMODE=NONE ;
IOBUF PORT "data" PULLMODE=NONE ;
IOBUF PORT "Digit1[0]" DRIVE=16 IO_TYPE=LVCMOS33 ;
IOBUF PORT "Digit1[1]" DRIVE=16 IO_TYPE=LVCMOS33 ;
IOBUF PORT "Digit1[2]" DRIVE=16 IO_TYPE=LVCMOS33 ;
IOBUF PORT "Digit1[3]" DRIVE=16 IO_TYPE=LVCMOS33 ;
IOBUF PORT "Digit1[4]" DRIVE=16 IO_TYPE=LVCMOS33 ;
IOBUF PORT "Digit1[5]" DRIVE=16 IO_TYPE=LVCMOS33 ;
IOBUF PORT "Digit1[6]" DRIVE=16 IO_TYPE=LVCMOS33 ;
SYSCONFIG CONFIGURATION=CFG COMPRESS_CONFIG=ON MY_ASSP=OFF ;
VOLTAGE 3.300 V;
TEMPERATURE 85.000 C;
