BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
FREQUENCY NET "osc_clk_c_c" 2.080000 MHz ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
//LOCATE COMP "osc_clk" SITE "40" ;
LOCATE COMP "latch" SITE "35" ;
LOCATE COMP "clk" SITE "33" ;
LOCATE COMP "data" SITE "34" ;
#
LOCATE COMP "leds[0]" SITE "1" ;
LOCATE COMP "leds[1]" SITE "2" ;
LOCATE COMP "leds[2]" SITE "3" ;
LOCATE COMP "leds[3]" SITE "4" ;
LOCATE COMP "leds[4]" SITE "5" ;
LOCATE COMP "leds[5]" SITE "6" ;
LOCATE COMP "leds[6]" SITE "9" ;
LOCATE COMP "leds[7]" SITE "10" ;
LOCATE COMP "leds[8]" SITE "11" ;
LOCATE COMP "leds[9]" SITE "12" ;
LOCATE COMP "leds[10]" SITE "13" ;
LOCATE COMP "leds[11]" SITE "14" ;
LOCATE COMP "leds[12]" SITE "19" ;
LOCATE COMP "leds[13]" SITE "20" ;
LOCATE COMP "leds[14]" SITE "21" ;
LOCATE COMP "leds[15]" SITE "22" ;
LOCATE COMP "leds[16]" SITE "23" ;
LOCATE COMP "leds[17]" SITE "24" ;
LOCATE COMP "leds[18]" SITE "25" ;
LOCATE COMP "leds[19]" SITE "26" ;
LOCATE COMP "leds[20]" SITE "27" ;
IOBUF PORT "latch" PULLMODE=NONE DRIVE=NA DIFFRESISTOR=OFF ;
IOBUF PORT "clk" PULLMODE=NONE ;
IOBUF PORT "data" PULLMODE=NONE ;
IOBUF PORT "leds[0]" DRIVE=16 IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[1]" DRIVE=16 IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[2]" DRIVE=16 IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[3]" DRIVE=16 IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[4]" DRIVE=16 IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[5]" DRIVE=16 IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[6]" DRIVE=16 IO_TYPE=LVCMOS33 ;
