BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
FREQUENCY NET "osc_clk_c_c" 2.080000 MHz ;
BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
//LOCATE COMP "osc_clk" SITE "40" ;
LOCATE COMP "latch" SITE "35" ;
LOCATE COMP "clk" SITE "33" ;
LOCATE COMP "data" SITE "28" ;
#
LOCATE COMP "leds[0]" SITE "1" ;
LOCATE COMP "leds[1]" SITE "2" ;
LOCATE COMP "leds[2]" SITE "3" ;
LOCATE COMP "leds[3]" SITE "4" ;
LOCATE COMP "leds[4]" SITE "5" ;
LOCATE COMP "leds[5]" SITE "6" ;
LOCATE COMP "leds[6]" SITE "9" ;
LOCATE COMP "leds[7]" SITE "10" ;
LOCATE COMP "leds[8]" SITE "11" ;
LOCATE COMP "leds[9]" SITE "12" ;
LOCATE COMP "leds[10]" SITE "13" ;
LOCATE COMP "leds[11]" SITE "14" ;
IOBUF PORT "latch" PULLMODE=NONE DRIVE=NA DIFFRESISTOR=OFF ;
IOBUF PORT "clk" PULLMODE=NONE ;
IOBUF PORT "data" PULLMODE=NONE ;
